
# Dependency directories
node_modules/

# Build output
dist/
coverage/

# Environment variables and sensitive config
.env
*.env.*.local
*.local

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
npm-debug.log*

# Miscellaneous
public/vite.svg

# Mock data (ignore in production)
src/mock/
